<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>redux-demo</title>
  <!-- <script src="js/lodash.js"></script>
  <script src="js/react.js"></script>
  <script src="js/react-dom.js"></script> -->
  <!-- 引入样式 -->
  <!-- <%= JSON.stringify(htmlWebpackPlugin) %> -->
  <% for (var i in htmlWebpackPlugin.options.css) { %>
  <link href="<%= htmlWebpackPlugin.options.css[i] %>" rel="stylesheet" />
  <% } %> 
  <!-- 引入js -->
  <% for (var i in htmlWebpackPlugin.options.js) { %>
  <script src="<%= htmlWebpackPlugin.options.js[i] %>"></script>
  <% } %>
</head>
<body>
  <div id="root"></div>
</body>
</html>
